<mat-card>
    <mat-card-header>
        <mat-card-title>Sign in</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form>
            <mat-form-field>
                <input matInput [(ngModel)]="userCredentials.username" placeholder="Username" type="text"
                    name="Username" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput [(ngModel)]="userCredentials.password" type="password" placeholder="password"
                    name="Password" required>
            </mat-form-field>
            <mat-card-actions>
                <button mat-raised-button (click)="login()" color="primary" type="submit">
                    Log in
                </button>
            </mat-card-actions>
        </form>
    </mat-card-content>

</mat-card>