
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.close:hover {
    opacity: 0.5;
}
.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.button-wrapper {
    margin: 10px 10px 10px 10px !important;
    padding: 0;
}

.form-field {
    width: 80%;
}

.warning {
    color: rgba(185, 24, 24, 0.815);
    padding-top: 8px;
}

.favourites-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.favourite-card {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.body {
    overflow: scroll;
}

.favourite {
    box-shadow: 2px 2px 7px black;
    margin: 20px;
    width: 180px;
    @media screen and (max-width: 500px) {
        width: 120px;
   }
}

img {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    width: 100px;
}

#remove-fav-btn {
    position: relative;
    left: 30px;
}